@font-face {
  font-family: "neueMachina";
  src: url("/assets/fonts/PPNeueMachina-InktrapRegular.woff2") format("woff2"),
    url("/assets/fonts/PPNeueMachina-InktrapRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "neueMachinaSemiBold";
  src: url("/assets/fonts/PPNeueMachina-InktrapSemibold.woff2") format("woff2"),
    url("/assets/fonts/PPNeueMachina-InktrapSemibold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "neueMachinaBold";
  src: url("/assets/fonts/PPNeueMachina-InktrapBold.woff2") format("woff2"),
    url("/assets/fonts/PPNeueMachina-InktrapBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Digital";
  src: url("/assets/fonts/digital-7.ttf") format("TrueType");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
