@import "./fonts.css";
@import "./css/cardTitle.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container {
  max-width: 1370px;
}

html,
body {
  font-family: neueMachina, Helvetica, Arial, sans-serif;
  background-color: #010101;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: neueMachina, Helvetica, Arial, sans-serif;
}
