.card-title-page {
  @apply rounded-default;
  .MuiCardHeader-content {
    span {
      @apply font-neue-machina text-default font-[700] uppercase text-white-primary;
    }
  }
}
.custom-scroll {
  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */

  &::-webkit-scrollbar-thumb {
    @apply border border-solid border-grey-900 bg-purple-primary;
    border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    @apply bg-grey-900;
  }
}

.top-player {
  .squre-no-player {
    width: 58px;
    height: 58px;
  }
  &:hover {
    transition: 5s;
    .show-arrow {
      display: block !important;
      transition-duration: 700ms;
      transition-timing-function: linear;
    }
    .squre-no-player {
      width: 58px;
      height: 58px;
    }
    .animation-box {
      animation: mymove 1s !important;
      animation-timing-function: linear;
      animation-duration: 0.5s;
    }
    .animation-image {
      animation: mymove-image 1s;
      animation-timing-function: linear;
      animation-duration: 0.5s;
    }
  }
}

@keyframes mymove-image {
  0% {
    margin-right: -43px;
  }
  50% {
    margin-right: 0;
  }
  100% {
    margin-right: -15px;
  }
}
@keyframes mymove {
  0% {
    width: 70px;
  }
  50% {
    width: 65px;
  }
  100% {
    width: 70px;
  }
}
