@tailwind base;
@tailwind components;
.card-title-page {
  @apply rounded-default;
}
.card-title-page .MuiCardHeader-content span {
  @apply font-neue-machina text-default font-[700] uppercase text-white-primary;
}

.custom-scroll {
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.custom-scroll::-webkit-scrollbar {
  width: 5px;
}
.custom-scroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  @apply border border-solid border-grey-900 bg-purple-primary;
  border-radius: 10px;
}
.custom-scroll::-webkit-scrollbar-thumb:hover {
  @apply bg-grey-900;
}

.top-player {
  transition: width 0.9s ease-in-out;
}
.top-player:hover {
  transition: 5s;
}
.top-player:hover .show-arrow {
  display: block !important;
  transition-duration: 700ms;
  transition-timing-function: linear;
}
.top-player:hover .squre-no-player {
  width: 70px;
}
