.test-card .course {
  border: 1px solid #5e5e68;
  border-radius: 24px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  max-width: 100%;
  margin: 20px;
  overflow: hidden;
  width: fit-content;
  height: 238px;
}
.test-card .course h2 {
  letter-spacing: 1px;
  margin: 10px 0;
  font-size: 12px;
  line-height: 18px;
}
.test-card .course-preview {
  color: #fff;
  padding: 40px 25px 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.test-card .course-preview a {
  color: #fff;
  display: inline-block;
  font-size: 12px;
  opacity: 0.6;
  text-decoration: none;
}
.test-card .course-info {
  position: relative;
  width: 100%;
}
@media screen and (max-width: 480px) {
  .test-card .course-info img {
    display: none;
  }
}
