.ql-font-neueMachina {
  font-family: "neueMachina";
}

.ql-font-neueMachinaSemiBold {
  font-family: "neueMachinaSemiBold";
}

.ql-font-neueMachinaBold {
  font-family: "neueMachinaBold";
}

.ql-font-digital-7 {
  font-family: "digital-7";
}

.ql-font-mondwest {
  font-family: "mondwest";
}

.ql-font-Digital {
  font-family: "Digital";
}

.ql-size-14px {
  font-size: 0.875rem;
}

.ql-size-16px {
  font-size: 1rem;
}

.ql-size-22px {
  font-size: 1.375rem;
}

.ql-size-46px {
  font-size: 2.875rem;
}
